<nav>
  <div class="container">
    <h1><%= link_to "Portal", root_path %></h1>
    <div class="links">
      <%= link_to "Cohorts", instructors_turing_cohorts_path %>
      <%= link_to "Projects", instructors_projects_path %>
      <%= link_to "Log Out", logout_path %>
    </div>
  </div>
</nav>
