<table>
  <tr>
    <th>Rubric Category</th>
    <th>Description</th>
    <th>Edit</th>
    <th>Delete</th>
  </tr>

  <% @project.rubrics.each do |rubric| %>
    <tr>
      <td><%= rubric.rubric_category.title %></td>
      <td><%= markdown(rubric.description) %></td>
      <td><%= link_to "Edit", edit_instructors_rubric_path(rubric) %></td>
      <td><%= link_to "Delete", instructors_rubric_path(rubric), method: "DELETE" %></td>
    </tr>
  <% end %>
</table>

